[submodule "extension-contracts/mockStrategy/lib/forge-std"]
	path = extension-contracts/mockStrategy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "extension-contracts/mockStrategy/lib/openzeppelin-contracts"]
	path = extension-contracts/mockStrategy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
